In [3]:
import pandas as pd
import numpy as np
f=pd.read_csv('D:\\Company\\EDA2\\adult_with_headers.csv')
f

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [3]:
f.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
race              object
sex               object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country    object
income            object
dtype: object

In [4]:
f.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [5]:
f.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'income'],
      dtype='object')

In [6]:
f.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [7]:
#Using StandardScaler & MinMaxScaler
from sklearn.preprocessing import StandardScaler, MinMaxScaler
scaler_standard=StandardScaler()
scaler_minmax=MinMaxScaler()

#Apply scaling to numerical features.
num_features = f.select_dtypes(include=['int64', 'float64']).columns
f[num_features] = scaler_standard.fit_transform(f[num_features])
f[num_features] = scaler_minmax.fit_transform(f[num_features])
f[num_features]

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
0,0.301370,0.044302,0.800000,0.021740,0.0,0.397959
1,0.452055,0.048238,0.800000,0.000000,0.0,0.122449
2,0.287671,0.138113,0.533333,0.000000,0.0,0.397959
3,0.493151,0.151068,0.400000,0.000000,0.0,0.397959
4,0.150685,0.221488,0.800000,0.000000,0.0,0.397959
...,...,...,...,...,...,...
32556,0.136986,0.166404,0.733333,0.000000,0.0,0.377551
32557,0.315068,0.096500,0.533333,0.000000,0.0,0.397959
32558,0.561644,0.094827,0.533333,0.000000,0.0,0.397959
32559,0.068493,0.128499,0.533333,0.000000,0.0,0.193878
32560,0.479452,0.187203,0.533333,0.150242,0.0,0.397959

In [8]:
categorical_features = f.select_dtypes(include=['object']).columns
for col in categorical_features:
    f[col].fillna(f[col].mode()[0], inplace=True)

In [10]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

# One-Hot Encoding for categorical variables with less than 5 categories
one_hot_columns = [col for col in f.select_dtypes(include=['object']).columns if f[col].nunique() < 5]
f_one_hot_encoded = pd.get_dummies(f, columns=one_hot_columns)

# Label Encoding for categorical variables with more than 5 categories
label_encoder = LabelEncoder()
label_encoded_columns = [col for col in f.select_dtypes(include=['object']).columns if f[col].nunique() > 5]
f_label_encoded = f.copy()
for col in label_encoded_columns:
    f_label_encoded[col] = label_encoder.fit_transform(f_label_encoded[col])

f_one_hot_encoded.head(), f_label_encoded.head()

(        age          workclass    fnlwgt   education  education_num  \
 0  0.301370          State-gov  0.044302   Bachelors       0.800000
 1  0.452055   Self-emp-not-inc  0.048238   Bachelors       0.800000
 2  0.287671            Private  0.138113     HS-grad       0.533333
 3  0.493151            Private  0.151068        11th       0.400000
 4  0.150685            Private  0.221488   Bachelors       0.800000

         marital_status          occupation    relationship    race  \
 0        Never-married        Adm-clerical   Not-in-family   White
 1   Married-civ-spouse     Exec-managerial         Husband   White
 2             Divorced   Handlers-cleaners   Not-in-family   White
 3   Married-civ-spouse   Handlers-cleaners         Husband   Black
 4   Married-civ-spouse      Prof-specialty            Wife   Black

    capital_gain  capital_loss  hours_per_week  native_country  sex_ Female  \
 0       0.02174           0.0        0.397959   United-States        False
 1       0.00000           0.0        0.122449   United-States        False
 2       0.00000           0.0        0.397959   United-States        False
 3       0.00000           0.0        0.397959   United-States        False
 4       0.00000           0.0        0.397959            Cuba         True

    sex_ Male  income_ <=50K  income_ >50K
 0       True           True         False
 1       True           True         False
 2       True           True         False
 3       True           True         False
 4      False           True         False  ,
         age  workclass    fnlwgt  education  education_num  marital_status  \
 0  0.301370          7  0.044302          9       0.800000               4
 1  0.452055          6  0.048238          9       0.800000               2
 2  0.287671          4  0.138113         11       0.533333               0
 3  0.493151          4  0.151068          1       0.400000               2
 4  0.150685          4  0.221488          9       0.800000               2

    occupation  relationship    race      sex  capital_gain  capital_loss  \
 0           1             1   White     Male       0.02174           0.0
 1           4             0   White     Male       0.00000           0.0
 2           6             1   White     Male       0.00000           0.0
 3           6             0   Black     Male       0.00000           0.0
 4          10             5   Black   Female       0.00000           0.0

    hours_per_week  native_country  income
 0        0.397959              39   <=50K
 1        0.122449              39   <=50K
 2        0.397959              39   <=50K
 3        0.397959              39   <=50K
 4        0.397959               5   <=50K  )

In [17]:
# Creating new features
f['family_size'] = f['fnlwgt'] + f['education_num']  # Example combining fnlwgt and education_num
f['is_alone'] = (f['relationship'] == 'Not-in-family').astype(int)

# Applying log transformation to a skewed numerical feature
f['capital_gain_log'] = f['capital_gain'].apply(lambda x: np.log(x + 1))  # Adding 1 to avoid log(0)

f[['family_size', 'is_alone', 'capital_gain_log']].head()

   family_size  is_alone  capital_gain_log
0     0.844302         0          0.021507
1     0.848238         0          0.000000
2     0.671447         0          0.000000
3     0.551068         0          0.000000
4     1.021488         0          0.000000

In [21]:
from sklearn.ensemble import IsolationForest

# Using Isolation Forest to detect outliers
iso = IsolationForest(contamination=0.1)
f['outlier'] = iso.fit_predict(f[num_features])

# Removing outliers
f_no_outliers = f[f['outlier'] != -1].drop(columns=['outlier'])

f_no_outliers.head()

C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  warnings.warn(

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income,family_size,is_alone,capital_gain_log
0,0.301370,State-gov,0.044302,Bachelors,0.800000,Never-married,Adm-clerical,Not-in-family,White,Male,0.02174,0.0,0.397959,United-States,<=50K,0.844302,0,0.021507
1,0.452055,Self-emp-not-inc,0.048238,Bachelors,0.800000,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.00000,0.0,0.122449,United-States,<=50K,0.848238,0,0.000000
2,0.287671,Private,0.138113,HS-grad,0.533333,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.00000,0.0,0.397959,United-States,<=50K,0.671447,0,0.000000
3,0.493151,Private,0.151068,11th,0.400000,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.00000,0.0,0.397959,United-States,<=50K,0.551068,0,0.000000
4,0.150685,Private,0.221488,Bachelors,0.800000,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.00000,0.0,0.397959,Cuba,<=50K,1.021488,0,0.000000

In [23]:
pip install -U ppscore

Collecting ppscore
  Downloading ppscore-1.3.0.tar.gz (17 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting pandas<2.0.0,>=1.0.0 (from ppscore)
  Downloading pandas-1.5.3-cp311-cp311-win_amd64.whl.metadata (12 kB)
Requirement already satisfied: scikit-learn<2.0.0,>=0.20.2 in c:\users\rahul y r\anaconda3\lib\site-packages (from ppscore) (1.2.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\rahul y r\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\rahul y r\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\rahul y r\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (1.26.4)
Requirement already satisfied: scipy>=1.3.2 in c:\users\rahul y r\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in c:\users\rahul y r\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\rahul y r\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\rahul y r\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas<2.0.0,>=1.0.0->ppscore) (1.16.0)
Downloading pandas-1.5.3-cp311-cp311-win_amd64.whl (10.3 MB)
   ---------------------------------------- 0.0/10.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/10.3 MB ? eta -:--:--
   ---------------------------------------- 0.1/10.3 MB 812.7 kB/s eta 0:00:13
   ---------------------------------------- 0.1/10.3 MB 812.7 kB/s eta 0:00:13
    --------------------------------------- 0.2/10.3 MB 952.6 kB/s eta 0:00:11
    --------------------------------------- 0.2/10.3 MB 1.0 MB/s eta 0:00:10
    --------------------------------------- 0.2/10.3 MB 1.0 MB/s eta 0:00:10
   - -------------------------------------- 0.3/10.3 MB 999.9 kB/s eta 0:00:10
   - -------------------------------------- 0.3/10.3 MB 999.9 kB/s eta 0:00:10
   - -------------------------------------- 0.4/10.3 MB 1.0 MB/s eta 0:00:10
   - -------------------------------------- 0.4/10.3 MB 1.0 MB/s eta 0:00:10
   -- ------------------------------------- 0.5/10.3 MB 1.0 MB/s eta 0:00:10
   -- ------------------------------------- 0.6/10.3 MB 1.1 MB/s eta 0:00:09
   --- ------------------------------------ 0.9/10.3 MB 1.4 MB/s eta 0:00:07
   --- ------------------------------------ 1.0/10.3 MB 1.5 MB/s eta 0:00:07
   --- ------------------------------------ 1.0/10.3 MB 1.5 MB/s eta 0:00:07
   ---- ----------------------------------- 1.1/10.3 MB 1.5 MB/s eta 0:00:07
   ---- ----------------------------------- 1.1/10.3 MB 1.5 MB/s eta 0:00:07
   ----- ---------------------------------- 1.3/10.3 MB 1.5 MB/s eta 0:00:06
   ----- ---------------------------------- 1.3/10.3 MB 1.5 MB/s eta 0:00:06
   ------ --------------------------------- 1.6/10.3 MB 1.7 MB/s eta 0:00:06
   ------- -------------------------------- 1.9/10.3 MB 1.9 MB/s eta 0:00:05
   -------- ------------------------------- 2.1/10.3 MB 2.1 MB/s eta 0:00:04
   -------- ------------------------------- 2.3/10.3 MB 2.1 MB/s eta 0:00:04
   ---------- ----------------------------- 2.6/10.3 MB 2.3 MB/s eta 0:00:04
   ----------- ---------------------------- 3.0/10.3 MB 2.5 MB/s eta 0:00:03
   ------------ --------------------------- 3.3/10.3 MB 2.7 MB/s eta 0:00:03
   -------------- ------------------------- 3.7/10.3 MB 2.9 MB/s eta 0:00:03
   --------------- ------------------------ 4.0/10.3 MB 3.1 MB/s eta 0:00:03
   ---------------- ----------------------- 4.4/10.3 MB 3.2 MB/s eta 0:00:02
   ------------------ --------------------- 4.8/10.3 MB 3.4 MB/s eta 0:00:02
   ------------------- -------------------- 5.1/10.3 MB 3.5 MB/s eta 0:00:02
   --------------------- ------------------ 5.5/10.3 MB 3.7 MB/s eta 0:00:02
   ---------------------- ----------------- 5.8/10.3 MB 3.7 MB/s eta 0:00:02
   ----------------------- ---------------- 6.1/10.3 MB 3.9 MB/s eta 0:00:02
   ------------------------- -------------- 6.5/10.3 MB 4.0 MB/s eta 0:00:01
   -------------------------- ------------- 6.8/10.3 MB 4.1 MB/s eta 0:00:01
   --------------------------- ------------ 7.2/10.3 MB 4.2 MB/s eta 0:00:01
   ----------------------------- ---------- 7.6/10.3 MB 4.3 MB/s eta 0:00:01
   ------------------------------- -------- 8.0/10.3 MB 4.4 MB/s eta 0:00:01
   -------------------------------- ------- 8.4/10.3 MB 4.5 MB/s eta 0:00:01
   ---------------------------------- ----- 8.8/10.3 MB 4.6 MB/s eta 0:00:01
   ----------------------------------- ---- 9.0/10.3 MB 4.6 MB/s eta 0:00:01
   ------------------------------------ --- 9.4/10.3 MB 4.7 MB/s eta 0:00:01
   ------------------------------------- -- 9.5/10.3 MB 4.7 MB/s eta 0:00:01
   -------------------------------------- - 9.9/10.3 MB 4.7 MB/s eta 0:00:01
   ---------------------------------------  10.3/10.3 MB 4.9 MB/s eta 0:00:01
   ---------------------------------------  10.3/10.3 MB 5.1 MB/s eta 0:00:01
   ---------------------------------------- 10.3/10.3 MB 5.0 MB/s eta 0:00:00
Building wheels for collected packages: ppscore
  Building wheel for ppscore (setup.py): started
  Building wheel for ppscore (setup.py): finished with status 'done'
  Created wheel for ppscore: filename=ppscore-1.3.0-py2.py3-none-any.whl size=13201 sha256=92f147b4e306d48d5b94529384bd87e969c1816e203a6d90261b874b93075a4e
  Stored in directory: c:\users\rahul y r\appdata\local\pip\cache\wheels\7e\45\08\bb444e1bca6a2bc3795707de9edd87ec1976dd8b3570fa7abf
Successfully built ppscore
Installing collected packages: pandas, ppscore
  Attempting uninstall: pandas
    Found existing installation: pandas 2.1.4
    Uninstalling pandas-2.1.4:
      Successfully uninstalled pandas-2.1.4
Successfully installed pandas-1.5.3 ppscore-1.3.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
import ppscore as pps

# PPS matrix
pps_matrix = pps.matrix(f).pivot(columns='x', index='y', values='ppscore')

# Correlation matrix
correlation_matrix = f.corr()

pps_matrix, correlation_matrix

C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\Anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\RAHUL Y R\AppData\Local\Temp\ipykernel_3900\4240192038.py:7: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation_matrix = f.corr()

(x                        age  capital_gain  capital_loss     education  \
 y
 age             1.000000e+00      0.003296      0.000000  1.692639e-02
 capital_gain    0.000000e+00      1.000000      0.000000  0.000000e+00
 capital_loss    0.000000e+00      0.000000      1.000000  0.000000e+00
 education       5.231462e-02      0.000000      0.000000  1.000000e+00
 education_num   0.000000e+00      0.012555      0.000000  1.000000e+00
 fnlwgt          0.000000e+00      0.000000      0.000000  0.000000e+00
 hours_per_week  0.000000e+00      0.000000      0.000000  0.000000e+00
 income          5.415335e-03      0.297123      0.141755  2.431351e-01
 marital_status  2.981185e-01      0.000000      0.000000  9.296680e-02
 native_country  0.000000e+00      0.000000      0.000000  6.448787e-02
 occupation      2.700685e-02      0.000000      0.000000  6.425396e-02
 race            1.747134e-07      0.000000      0.000000  1.747134e-07
 relationship    1.992051e-01      0.000000      0.000000  9.952034e-03
 sex             0.000000e+00      0.000000      0.000000  0.000000e+00
 workclass       1.123161e-02      0.000000      0.000000  1.541985e-07

 x               education_num    fnlwgt  hours_per_week        income  \
 y
 age              1.692639e-02  0.000000        0.002377  3.416143e-02
 capital_gain     0.000000e+00  0.000000        0.000000  0.000000e+00
 capital_loss     0.000000e+00  0.000000        0.000000  0.000000e+00
 education        1.000000e+00  0.005346        0.053845  1.760476e-02
 education_num    1.000000e+00  0.000000        0.000000  2.805543e-02
 fnlwgt           0.000000e+00  1.000000        0.000000  0.000000e+00
 hours_per_week   0.000000e+00  0.000000        1.000000  0.000000e+00
 income           2.431351e-01  0.000000        0.047278  1.000000e+00
 marital_status   9.296680e-02  0.032551        0.122036  1.738911e-01
 native_country   6.448787e-02  0.000000        0.000000  0.000000e+00
 occupation       6.425396e-02  0.000000        0.035942  0.000000e+00
 race             1.747134e-07  0.000000        0.004591  1.747134e-07
 relationship     9.952034e-03  0.036790        0.086839  1.050230e-01
 sex              0.000000e+00  0.090438        0.139400  0.000000e+00
 workclass        1.541985e-07  0.000000        0.022442  1.541985e-07

 x               marital_status  native_country    occupation          race  \
 y
 age               2.015819e-01        0.000000  9.147658e-03  0.000000e+00
 capital_gain      0.000000e+00        0.000000  0.000000e+00  0.000000e+00
 capital_loss      0.000000e+00        0.000000  0.000000e+00  0.000000e+00
 education         3.638336e-02        0.000000  1.386589e-01  0.000000e+00
 education_num     0.000000e+00        0.000000  1.551207e-01  0.000000e+00
 fnlwgt            0.000000e+00        0.000000  0.000000e+00  0.000000e+00
 hours_per_week    0.000000e+00        0.000000  0.000000e+00  0.000000e+00
 income            0.000000e+00        0.009409  9.240967e-02  0.000000e+00
 marital_status    1.000000e+00        0.000000  1.452145e-01  1.977407e-02
 native_country    0.000000e+00        1.000000  0.000000e+00  0.000000e+00
 occupation        0.000000e+00        0.000000  1.000000e+00  0.000000e+00
 race              1.747134e-07        0.181573  1.747134e-07  1.000000e+00
 relationship      3.771251e-01        0.000000  7.954636e-02  3.175087e-03
 sex               3.127991e-01        0.000000  3.317192e-01  2.053197e-02
 workclass         1.541985e-07        0.003919  2.505308e-01  1.541985e-07

 x               relationship           sex  workclass
 y
 age             1.373713e-01  0.000000e+00   0.019258
 capital_gain    0.000000e+00  0.000000e+00   0.000000
 capital_loss    0.000000e+00  0.000000e+00   0.000000
 education       2.140502e-02  0.000000e+00   0.000000
 education_num   0.000000e+00  0.000000e+00   0.000000
 fnlwgt          0.000000e+00  0.000000e+00   0.000000
 hours_per_week  0.000000e+00  0.000000e+00   0.000000
 income          0.000000e+00  0.000000e+00   0.094056
 marital_status  6.365347e-01  1.916811e-01   0.000000
 native_country  0.000000e+00  0.000000e+00   0.000000
 occupation      0.000000e+00  0.000000e+00   0.058083
 race            1.747134e-07  1.747134e-07   0.000000
 relationship    1.000000e+00  1.823200e-01   0.000000
 sex             4.009801e-01  1.000000e+00   0.000000
 workclass       1.541985e-07  1.541985e-07   1.000000  ,
                      age    fnlwgt  education_num  capital_gain  capital_loss  \
 age             1.000000 -0.076646       0.036527      0.077674      0.057775
 fnlwgt         -0.076646  1.000000      -0.043195      0.000432     -0.010252
 education_num   0.036527 -0.043195       1.000000      0.122630      0.079923
 capital_gain    0.077674  0.000432       0.122630      1.000000     -0.031615
 capital_loss    0.057775 -0.010252       0.079923     -0.031615      1.000000
 hours_per_week  0.068756 -0.018768       0.148123      0.078409      0.054256

                 hours_per_week
 age                   0.068756
 fnlwgt               -0.018768
 education_num         0.148123
 capital_gain          0.078409
 capital_loss          0.054256
 hours_per_week        1.000000  )